<!-- <country-search-input (value)="onSearch($event)" placeholder="Search by capital..." (value)="onSearch($event)" /> -->
<country-search-input (value)="query.set($event)" placeholder="Search by capital..." />

<!-- @if (isError()) {
<p>{{ isError() }}</p>
} @else {
<country-list [countries]="countries()" />
} -->

<!-- @if (countryResource.error()) {
<p class="mt-2">{{ countryResource.error() }}</p>
} @if(countryResource.hasValue()) {
<country-list [countries]="countryResource.value()!" />
} -->

<country-list [countries]="countryResource.value() || []" [errorMessage]="countryResource.error()"
  [isEmpty]="countryResource.value().length === 0" [isLoading]="countryResource.isLoading()" />