<section class="mt-5">
  <!-- table-md -->
  <table class="table table-zebra w-full mt-2">
    <thead>
      <tr>
        <th>#</th>
        <th>Icon</th>
        <th>Flag</th>
        <th>Name</th>
        <th>Capital</th>
        <th>Population</th>
        <th>Area</th>
        <th>More...</th>
      </tr>
    </thead>
    <tbody>
      @for (country of countries(); track country.cca2; let index = $index) {
      <tr>
        <th>{{ index + 1 }}</th>
        <td>{{ country.flag }}</td>
        <td>
          <img [src]="country.flagSvg" alt="{{ country.name }} flag" class="w-10 h-5 object-cover" />
        </td>
        <td>{{ country.name }}</td>
        <td>{{ country.capital}}</td>
        <td>
          <span class="badge badge-secondary">
            {{ country.population | number }}
          </span>
        </td>
        <td>
          <span class="badge badge-primary">
            {{ country.area | number }} km²
          </span>
        </td>
        <td>
          <a [routerLink]="['/country/by/', country.cca2]" class="text-blue-500 hover:underline" href="#">More
            information</a>
        </td>

      </tr>
      }
      <!--  -->
      @if (errorMessage()) {
      <tr>
        <td colspan="8" class="text-center">
          {{ errorMessage() }}
        </td>
      </tr>
      }

      <!--  -->
      @if(countries().length === 0 && !isLoading()) {
      <tr>
        <td colspan="8" class="text-center">No se encontraron resultados</td>
      </tr>
      }

      <!--  -->
      @if (isLoading()) {
      <tr>
        <td colspan="8" class="text-center">Buscando países</td>
      </tr>

      }
    </tbody>
  </table>
</section>